@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import "tailwindcss";

@layer base {
  body, html {
    font-family: 'Inconsolata', monospace;
  }
}

@media screen and (orientation: portrait) {
    body {
        font-size: 2rem;
        line-height: 1.6;
    }
}