---

import '../styles/global.css';

// src/pages/index.astro
import { GoogleSpreadsheet } from 'google-spreadsheet';

const SPREADSHEET_ID = import.meta.env.GOOGLE_SHEET_ID;

// 1. Initialize the document
const doc = new GoogleSpreadsheet(SPREADSHEET_ID, {
  apiKey: import.meta.env.GOOGLE_API_KEY // If using an API key for public sheets
});

// 2. Load the sheet info
await doc.loadInfo(); 
const sheet = doc.sheetsByIndex[2]; // Get the first sheet

// 3. Fetch rows
const rows = await sheet.getRows();

// 4. Group rows by tag
const groupedByTag = rows.reduce((acc: any, row) => {
  const tag = row.get('tag');
  if (!acc[tag]) {
    acc[tag] = [];
  }
  acc[tag].push(row);
  return acc;
}, {});

// Sort tags alphabetically
const sortedTags = Object.keys(groupedByTag).sort();
---

<html lang="en">
  <head>
    <title>philsbookmarks</title>
  </head>
  <body class="p-1">
    <h1>philsbookmarks</h1>
    <div class="columns-1 gap-2 xs:columns-2 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
        {sortedTags.map((tag) => (
        <div class="mb-2">
            <h2 class="font-bold">{tag}</h2>
            <ul>
            {groupedByTag[tag].map((row: any) => (
                <li>
                <a href={row.get('url')}>{row.get('title')}</a>
                </li>
            ))}
            </ul>
        </div>
        ))}
    </div>
  </body>
</html>